.booking {
  margin-bottom: 20px;
  text-align: center;
}

.booking h2 {
  margin-bottom: 30px;
  text-align: center;
}

.booking form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.booking form input {
  padding: 8px 5px;
  margin-bottom: 20px;
}

.order-btn {
  background-color: #fc6539;
  color: white;
  padding: 10px 15px !important;
  font-weight: 600;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
