.secondary-color {
  color: #fc6539;
}

.banner {
  background-image: url(../../../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  margin-top: -100px;
  color: rgb(246, 246, 246);
  font-weight: 700;
  text-align: center;
}

.banner-btn {
  background-color: #fc6539;
  color: white;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 600;
  margin-top: 20px;
}
